<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
 <head>
  <title> New Document </title>
  <style type="text/css">
html{height:100%;margin:0px;padding:0px}
body{height:100%;margin:0px;padding:0px}
</style></head>
<body>
<iframe style="float:left;border:0px solid red" src="http://www.weather.com.cn/html/module/image_1.shtml" width="425" height="350" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>

<iframe src="http://61.4.185.73/static/modules/life/trip_plugin_2.shtml" width="425" height="25" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>
<iframe src="http://61.4.185.73/static/modules/life/life_plugin_1.shtml" width="625" height="457" marginwidth="0" marginheight="0" hspace="0" vspace="0" frameborder="0" scrolling="no"></iframe>

</body>
</html>