<script type="text/javascript" charset="utf-8">
	$(function() {
		$('#user_userInfo_tree').tree({
			url : APP+'/Node/getAllNode',
			parentField : 'pid',
			lines : true,
			checkbox : true,
			onLoadSuccess : function(node, data) {
				var idList = stringToList($('#user_userInfo_form input[name=resourceIds]').val());
				console.info($('#user_userInfo_form input[name=resourceIds]').val());
				if (idList.length > 0) {
					for ( var i = 0; i < idList.length; i++) {
						var n = $('#user_userInfo_tree').tree('find', idList[i]);
						$('#user_userInfo_tree').tree('check', n.target);
					}
				}
				$('#user_userInfo_tree').unbind();
			}
		});
	});
</script>
<div class="easyui-layout" data-options="fit:true">
	<div data-options="region:'east',title:'可访问资源',split:true" style="width: 200px;">
		<ul id="user_userInfo_tree"></ul>
	</div>
	<div data-options="region:'center',title:'个人信息'" style="overflow: hidden;padding: 5px;" align="center">
		<form id="user_userInfo_form" method="post">
			<input name="id" type="hidden" value="{$_SESSION[C('USER_AUTH_KEY')]}" />
			<table class="tableForm">
				<tr>
					<th style="width: 55px;">登录名</th>
					<td><input type="text" name="nickname" readonly="readonly" value="{$_SESSION['nickname']}" /></td>
				</tr>
				<tr>
					<th style="width: 55px;">新密码</th>
					<td><input type="password" name="password" value=""  class="easyui-validatebox" data-options="required:true"/></td>
				</tr>
				<tr>
					<th>登录IP</th>
					<td><input readonly="readonly" value="{$_SESSION['email']}" /></td>
				</tr>
				<!--<tr>
					<th>状态</th>
					<td><select name="status" value="{$_SESSION['status']}" >  
				    <option value="1">可用</option>  
				    <option value="0">禁用</option>  
				</select></td>
				</tr>-->
				<tr>
					<th>备注</th>
					<td><input readonly="readonly" value="{$_SESSION['remark']}"/></td>
				</tr>
				<tr>
					<th>所属角色</th>
					<td><input readonly="readonly" value="{$_SESSION['role']}" /></td>
				</tr>
				<tr style="display: none;">
					<th>权限ID</th>
					<td><input name="resourceIds" value="{$_SESSION['resourceIds']}" /></td>
				</tr>
				<tr>
					<th>说明</th>
					<td><font color="red">*注意此界面只能修改自己的密码，如果不修改点击关闭。</font></td>
				</tr>
			</table>
		</form>
	</div>
</div>